<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Neon HTML Demo - Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="../static/css/aos.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body class="ok ai sn uh ul">

  <!-- Page wrapper -->
  <div class="nl rj n_ im">

      <!-- Site header -->
      <header class="y nj z">
          <div class="rr tf ot ld">
              <div class="nl ie ii nd lb">

                  <!-- Site branding -->
                  <div class="rv tc">
                      <!-- Logo -->
                      <a class="nu" href="" aria-label="Cruip">
                          <svg class="nq nv" viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <defs>
                                  <radialgradient cx="50%" cy="89.845%" fx="50%" fy="89.845%" r="108.567%" gradienttransform="matrix(-.00915 -.82755 .99996 -.00757 -.394 1.319)" id="logo1-b">
                                      <stop stop-color="#3B82F6" stop-opacity=".64" offset="0%"></stop>
                                      <stop stop-color="#F472B6" stop-opacity=".876" offset="100%"></stop>
                                  </radialgradient>
                                  <radialgradient cx="50%" cy="89.845%" fx="50%" fy="89.845%" r="108.567%" gradienttransform="matrix(-.00915 -.82755 .99996 -.00757 -.394 1.319)" id="logo1-d">
                                      <stop stop-color="#3B82F6" stop-opacity=".64" offset="0%"></stop>
                                      <stop stop-color="#D375C2" stop-opacity=".833" offset="50.358%"></stop>
                                      <stop stop-color="#FBCFE8" stop-opacity=".876" offset="100%"></stop>
                                  </radialgradient>
                                  <path d="M12 32c8-6.915 12-12.582 12-17 0-6.627-5.373-12-12-12S0 8.373 0 15c0 4.418 4 10.085 12 17Z" id="logo1-a"></path>
                                  <path d="M20 29c8-6.915 12-12.582 12-17 0-6.627-5.373-12-12-12S8 5.373 8 12c0 4.418 4 10.085 12 17Z" id="logo1-c"></path>
                              </defs>
                              <g fill="none" fill-rule="evenodd">
                                  <use fill="url(#logo1-b)" opacity=".64" transform="matrix(1 0 0 -1 0 35)" xlink:href="#logo1-a"></use>
                                  <use fill="url(#logo1-d)" opacity=".961" xlink:href="#logo1-c"></use>
                              </g>
                          </svg>
                      </a>
                  </div>

                  <!-- Desktop navigation -->
                  <nav class="nl rm">


                  </nav>

              </div>
          </div>
      </header>

      <!-- Page content -->
      <main class="rm">

          <!-- Hero -->
          <section class="b im">

              <!-- Bg gradient -->
              <div class="y w x k su sc sm as nm v te" aria-hidden="true"></div>

              <!-- Illustration -->
              <div class="y _ rg v te" aria-hidden="true">
                  <img src="../static/picture/hero-illustration.svg" class="ri" width="2143" height="737" alt="Hero Illustration">
              </div>

              <div class="b rr tf ot ld">
                  <div class="ov om ch cp">

                      <!-- Hero content -->
                      <div class="rs tf lk ly ox cv">

                          <h1 class="h1 o_ td" data-aos="zoom-out" data-aos-delay="100"><em class="font-italic">{{ data[0]['昵称'] }}</em></h1>
                          <p class="oq up tv" data-aos="zoom-out" data-aos-delay="200">欢迎进入'{{ data[0]['昵称'] }}'的博客，下面将会展示该博主的提问信息、回答信息、关注人信息、粉丝信息~</p>

                      </div>

                  </div>
              </div>
          </section>

          <!-- Features #2 -->
          <section class="b">

              <!-- Bg gradient -->
              <div class="y j x k sa sc sm as nm v te" aria-hidden="true"></div>

              <!-- Bg illustration -->
              <div class="y j _ te ty" aria-hidden="true">
                  <img src="../static/picture/features-illustration.svg" class="ri" width="608" height="305" alt="Illustration">
              </div>

              <div class="rr tf ot ld">
                  <div class="oo ca">

                      <!-- Section header -->
                      <div class="rf tf ox om cp">
                          <h2 class="h2 o_ tm">回答信息</h2>
                      </div>

                      <!-- Section content -->
                      <div class="rs tf lj nl rj cr ci co hn xl:space-x-18 il id cu">

                          <!-- Content -->
                          <div class="lw ck tn lv" data-aos="zoom-out" data-aos-delay="200">
                              <div class="ox cv">

                                  <ul class="nc rj oz up ic">
                                  {% for i in range(1,data[3]|length+1) %}
                                      <li class="nl ie">
                                          <svg class="nz ng sk ub tb rv" viewbox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"></path>
                                          </svg>
                                          <a href ='{{index}}/answer_{{ i }}'>回答{{ i }}：{{data[3][i-1]['标题']}}</a>
                                      </li>
                                  {% endfor %}

                                  </ul>
                              </div>
                          </div>

                          <!-- Image -->
                          <div class="lx ck" data-aos="zoom-out">
                                <img class="tf lj" src="../static/picture/answer1.png" width="540" height="581" alt="Features">
                          </div>
                      </div>

                  </div>
              </div>
          </section>

          <!-- Features #2 -->
          <section class="b">

              <!-- Bg gradient -->
              <div class="y j x k sa sc sm as nm v te" aria-hidden="true"></div>

              <!-- Bg illustration -->
              <div class="y j _ te ty" aria-hidden="true">
                  <img src="../static/picture/features-illustration.svg" class="ri" width="608" height="305" alt="Illustration">
              </div>

              <div class="rr tf ot ld">
                  <div class="oo ca">

                      <!-- Section header -->
                      <div class="rf tf ox om cp">
                          <h2 class="h2 o_ tm">提问信息</h2>
                      </div>

                      <!-- Section content -->
                      <div class="rs tf lj nl rj cr ci co hn xl:space-x-18 il id cu">

                          <!-- Content -->
                          <div class="lw ck tn lv" data-aos="zoom-out" data-aos-delay="200">
                              <div class="ox cv">

                                  <ul class="nc rj oz up ic">
                                  {% for i in range(1,data[4]|length+1) %}
                                      <li class="nl ie">
                                          <svg class="nz ng sk ub tb rv" viewbox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"></path>
                                          </svg>
                                          <a href ='{{index}}/question_{{ i }}'>提问{{ i }}：{{data[4][i-1]['标题']}}</a>
                                      </li>
                                  {% endfor %}

                                  </ul>
                              </div>
                          </div>

                          <!-- Image -->
                          <div class="lx ck" data-aos="zoom-out">
                                <img class="tf lj" src="../static/picture/question.png" width="540" height="581" alt="Features">
                          </div>


                      </div>

                  </div>
              </div>
          </section>


              <!-- Illustration -->
              <div class="np cx y w _ rg v te" aria-hidden="true">
                  <img src="../static/picture/pricing-illustration.svg" class="ri" width="618" height="468" alt="Pricing Illustration">
              </div>

          </section>

          <!-- Testimonials -->
          <section class="b">

              <!-- Bg gradient: top -->
              <div class="y j x k sa sc sm as nm v te" aria-hidden="true"></div>

              <!-- 粉丝box -->
              <div class="y w x k su sh sy nb v tt" aria-hidden="true"></div>

              <div class="rr tf ot ld">
                  <div class="ob cd">

                      <!-- Section header -->
                      <div class="rf tf ox om cp">
                          <h2 class="h2 o_">粉丝信息</h2>
                      </div>

                      <!-- Testimonials container -->
                      <div class="ru tf lo nh iu lu ce ll lc rz" data-aos-id-testimonials="">

                          <!-- 1st Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][0].get('头像链接')}} width="48" height="48" alt="Testimonial 01">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][0].get('链接',None) }}>{{ data[1][0].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][0].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][0].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][0].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 2nd Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="100">
                              <header class="tm">
                                  <img class="ig rv" src="{{data[1][1].get('头像链接')}}" width="48" height="48" alt="Testimonial 02">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][1].get('链接',None) }}>{{ data[1][1].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][1].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][1].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][1].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 3rd Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="200">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][2].get('头像链接')}} width="48" height="48" alt="Testimonial 03">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][2].get('链接',None) }}>{{ data[1][2].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][2].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][2].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][2].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 4th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="300">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][3].get('头像链接')}} width="48" height="48" alt="Testimonial 04">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][3].get('链接',None) }}>{{ data[1][3].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][3].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][3].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][3].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 5th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="400">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][4].get('头像链接')}} width="48" height="48" alt="Testimonial 05">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][4].get('链接',None) }}>{{ data[1][4].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][4].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][4].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][4].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 6th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="500">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][5].get('头像链接')}} width="48" height="48" alt="Testimonial 06">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][5].get('链接',None) }}>{{ data[1][5].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][5].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][5].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][5].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 7th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="600">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][6].get('头像链接')}} width="48" height="48" alt="Testimonial 07">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][6].get('链接',None) }}>{{ data[1][6].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][6].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][6].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][6].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 8th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="700">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][7].get('头像链接')}}  width="48" height="48" alt="Testimonial 08">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][7].get('链接',None) }}>{{ data[1][7].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][7].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][7].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][7].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 9th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="800">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][8].get('头像链接')}} width="48" height="48" alt="Testimonial 09">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][8].get('链接',None) }}>{{ data[1][8].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][8].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][8].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][8].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 10th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="800">
                              <header class="tm">
                                  <img class="ig rv" src={{data[1][9].get('头像链接')}} width="48" height="48" alt="Testimonial 09">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[1][9].get('链接',None) }}>{{ data[1][9].get('粉丝名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[1][9].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[1][9].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[1][9].get('关注者人数',None)}}</p>
                              </div>
                          </article>
                          <!-- 11th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="800">
                              <header class="tm">
                                  <img class="ig rv" src="../static/picture/noname.jpg" width="48" height="48" alt="Testimonial 09">
                              </header>
                              <div class="rm tj">
                                  <p class="up">……</p>
                              </div>

                          </article>
                          <!-- 12th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="800">
                              <header class="tm">
                                  <img class="ig rv" src="../static/picture/noname.jpg" width="48" height="48" alt="Testimonial 09">
                              </header>
                              <div class="rm tj">
                                  <p class="up">……</p>
                              </div>

                          </article>
                      </div>

                  </div>
              </div>

              <!-- 关注人box -->
              <div class="y w x k su sh sy nb v tt" aria-hidden="true"></div>

              <div class="rr tf ot ld">
                  <div class="ob cd">

                      <!-- Section header -->
                      <div class="rf tf ox om cp">
                          <h2 class="h2 o_">关注人信息</h2>
                      </div>

                      <!-- Testimonials container -->
                      <div class="ru tf lo nh iu lu ce ll lc rz" data-aos-id-testimonials="">

                          <!-- 1st Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][0].get('头像链接')}} width="48" height="48" alt="Testimonial 01">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][0].get('链接',None) }}>{{ data[2][0].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][0].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][0].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][0].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 2nd Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="100">
                              <header class="tm">
                                  <img class="ig rv" src="{{data[2][1].get('头像链接')}}" width="48" height="48" alt="Testimonial 02">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][1].get('链接',None) }}>{{ data[2][1].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][1].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][1].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][1].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 3rd Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="200">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][2].get('头像链接')}} width="48" height="48" alt="Testimonial 03">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][2].get('链接',None) }}>{{ data[2][2].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][2].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][2].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][2].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 4th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="300">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][3].get('头像链接')}} width="48" height="48" alt="Testimonial 04">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][3].get('链接',None) }}>{{ data[2][3].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][3].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][3].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][3].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 5th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="400">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][4].get('头像链接')}} width="48" height="48" alt="Testimonial 05">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][4].get('链接',None) }}>{{ data[2][4].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][4].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][4].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][4].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 6th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="500">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][5].get('头像链接')}} width="48" height="48" alt="Testimonial 06">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][5].get('链接',None) }}>{{ data[2][5].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][5].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][5].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][5].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 7th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="600">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][6].get('头像链接')}} width="48" height="48" alt="Testimonial 07">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][6].get('链接',None) }}>{{ data[2][6].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][6].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][6].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][6].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 8th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="700">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][7].get('头像链接')}} width="48" height="48" alt="Testimonial 08">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][7].get('链接',None) }}>{{ data[2][7].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][7].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][7].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][7].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 9th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="800">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][8].get('头像链接')}} width="48" height="48" alt="Testimonial 09">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][8].get('链接',None) }}>{{ data[2][8].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][8].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][8].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][8].get('关注者人数',None)}}</p>
                              </div>
                          </article>

                          <!-- 10th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="800">
                              <header class="tm">
                                  <img class="ig rv" src={{data[2][9].get('头像链接')}} width="48" height="48" alt="Testimonial 09">
                              </header>
                              <a class="ui ug fu al ah ap"  href={{ data[2][9].get('链接',None) }}>{{ data[2][9].get('偶像名称',None) }}</a>
                              <div class="rm tj">
                                  <p class="up">回答问题数:&nbsp {{ data[2][9].get('回答数',None)}}</p>
                                  <p class="up">文章数:&nbsp {{  data[2][9].get('文章数',None)}}</p>
                                  <p class="up">关注者人数:&nbsp {{ data[2][9].get('关注者人数',None)}}</p>
                              </div>
                          </article>
                          <!-- 11th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="800">
                              <header class="tm">
                                  <img class="ig rv" src="../static/picture/noname.jpg" width="48" height="48" alt="Testimonial 09">
                              </header>
                              <div class="rm tj">
                                  <p class="up">……</p>
                              </div>

                          </article>
                          <!-- 12th Testimonial -->
                          <article class="ny nl rj sr oe" data-aos="fade" data-aos-anchor="[data-aos-id-testimonials]" data-aos-delay="800">
                              <header class="tm">
                                  <img class="ig rv" src="../static/picture/noname.jpg" width="48" height="48" alt="Testimonial 09">
                              </header>
                              <div class="rm tj">
                                  <p class="up">……</p>
                              </div>

                          </article>
                      </div>

                  </div>
              </div>

          </section>

          <!-- Resources -->


          <!-- CTA -->
          <section>
              <div class="rr tf ot ld">

                  <!-- CTA box -->
                  <div class="b sf sl sb iy oa of cf cl im" data-aos="zoom-out">

                      <!-- Bg illustration -->
                      <div class="np cx y k q ry tz te" aria-hidden="true">
                          <img src="../static/picture/cta-illustration.svg" class="ri" width="582" height="662" alt="Illustration">
                      </div>

                      <div class="nl rj cz ii ie">

                          <!-- CTA content -->
                          <div class="td cb cw ox hi">
                              <h3 class="ue uo o_ tg">Get started with Neon</h3>
                          </div>




                      </div>

                  </div>

              </div>
          </section>

      </main>

      <!-- Site footer -->

  </div>

  <script src="../static/js/alpinejs.min.js" defer=""></script>
  <script src="../static/js/aos.js"></script>
  <script src="../static/js/main.js"></script>



<script async="" src='../static/js/js.js'></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-125021779-1', { 'anonymize_ip': true });</script><script>console.log("%cImportant!", "color: blue; font-size: x-large");console.log("%cThe page you are viewing is for demo purposes only. CSS and HTML have been minified and class names have been shortened to improve the page load time. Download our templates from #", "font-size: large");</script><script>const pagesList = [{"name":"Home","url":"#","active":true},{"name":"Sign in","url":"#","active":false},{"name":"Sign up","url":"#","active":false},{"name":"Reset password","url":"#","active":false}];if(window != top){window.parent.postMessage(pagesList, "#")};</script></body></html>